button {
    background: chartreuse;
    border: none;
    min-height: 40px;
    min-width: 40px;
    border-radius: 0%;
    color: #fff;
    font-size:19px;
    opacity: 0.8;
}
.center {
    display: flex;
    justify-content: center;
    place-items: center;
}

button:hover {
    opacity: 1;
    transform: scale(1.5);
    cursor: pointer;
}